body {
  background-image: url("../assets/bg.png") !important;
}

.team_name {
    position: relative;
    margin: auto;
    text-align: center;
    border: 3px;
    transform: translate(0%, 120%);
    font-family: Stencil Std, fantasy;
    font-style: italic;
}

.nav_name {
    font-family: Stencil Std, fantasy;
    font-style: italic;
    letter-spacing: 0.1em;
}

.login-container {
    margin: auto;
    margin-bottom: 25%;
    width: 50%;
    border: 3px;
    background-color: #2D3134;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    display: block;
    transform: translate(0%, 30%);
    border-radius: 25px;
}

.login-field {
  background-color: #74797C !important;
}

.foot {    
    position: fixed;
    margin: auto;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.search_bar {
    position: absolute;
    margin: auto;
    text-align: right;
    top: 15%;
    right: 2%;
}

.search_btn {
    background-color: blue !important;
}

.give_border {
    border: 0.5px solid black;
    text-align: center;
}

.disabled {
    opacity: 0.3 !important;
}

input, select, textarea {
    color: #ffffff !important;
}

textarea:focus, input:focus {
    color: #ffffff !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 0.4 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}
