<!DOCTYPE html>
<html>
	<head>
		<title>Modal</title>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<link rel="stylesheet" href="(( url_for('static',filename='test.css') ))" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>

	<body>
		<div id="app">

			<b-navbar variant="dark" type="dark">
				<b-navbar-brand tag="h1" class="mb-0">JSON Derulo</b-navbar-brand>
			</b-navbar>

			<b-container fluid class="h-100">
				<b-row align-h="start">
					<b-col v-for="(item, index) in items" class="border m-4 siz">

						<b-row align-v="start">
							<b-col class="text-left pl-1" cols="1"><i class="fas fa-file-download"></i></b-col>
							<b-col class="text-center"><b>Asset {{index+1}}</b></b-col>
							<b-col class="text-left pl-1 mr-1" cols="1"><i class="far fa-hdd"></i></b-col>
						</b-row>

						<b-row>
							<b-col class=""><u>Serial Number:</u> {{ item.serial }}</b-col>
						</b-row>

						<b-row>
							<b-col class=""><u>Tenants:</u>
								<font v-for="(tenant, i) in item.tenants">
									<span v-if="tenant.length-2 === i">
										{{ tenant }}
									</span>
									<span v-else>
										{{ tenant }},
									</span>
								</font>
							</b-col>
						</b-row>

						<b-row>
							<b-col class=""><u>Last Updated:</u> {{ item.last_updated }}</b-col>
						</b-row>

						<b-row>
							<b-col class="text-center">
								<b-link v-b-modal="'modal_' + index">
									View more information
								</b-link>
							</b-col>
						</b-row>

						<b-modal :id="'modal_' + index" v-bind:title="'Asset ' + (index+1)" hide-footer>
							<b-container fluid>
								<b-tabs>

								  <b-tab title="System" active>
								  	<br>
								  	<b-row cols="2">
									    <b-col class="outline">
									    	Serial Number: {{ item.serial }}
									    </b-col>
									    <b-col class="outline text-center">
									    	Port Info
									    	<br>
									    	<b-card no-body>
										    	<b-tabs card vertical>
										    		<template v-for="j in 9">
											    		<b-tab :title="j" v-if="j == 1" active><br>Tab: {{ j }}</b-tab>
											    		<b-tab :title="j" v-else><br>Tab: {{ j }}</b-tab>
										    		</template>
										    	</b-tabs>
									    	</b-card>
									    </b-col>
									</b-row>
								  </b-tab>

								  <b-tab title="Capacity" >
								    <br>Capacity
								  </b-tab>

								  <b-tab title="Performance">
								    <br>Performance
								  </b-tab>

								  <b-tab title="Disks">
								    <br>Disks
								  </b-tab>

								  <b-tab title="Nodes">
								    <br>Nodes
								  </b-tab>

								  <b-tab title="Authorized">
								    <br>Authorized
								  </b-tab>

								</b-tabs>
							</b-container>
						</b-modal>

					</b-col>
				</b-row>
				<b-row align-v="end" class="mt-4 mb-4">
					<b-col class="text-center">© 2018 Copyright: FileBrowser developed for HP by University of Massachusetts</b-col>
				</b-row>
			</b-container>

		</div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script type="text/javascript">

		var app = new Vue({
			el: "#app",
			data: {
				modalShow: false,
		    	items: [
		    	  { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
		      	  { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
		      	  { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
		      	  { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
		      	  { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
		      	  { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '22156', tenants: ['Kyle', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '12345', tenants: ['John', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '54321', tenants: ['Adam', 'hpe'], last_updated: '18/04/13 05:27:55' },
			      { serial: '83027', tenants: ['Dan', 'hpe'], last_updated: '18/04/13 05:27:55' }
		    	]

		  	}
		});

	</script>
</html>